{
  "parser": "@typescript-eslint/parser",
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "plugin:prettier/recommended"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020,
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/camelcase": "off",
    "prefer-const": "warn"
  },
  "env": {
    "node": true,
    "es6": true
  }
}
